.place {
  display: grid;
  grid-template-columns: 460fr 484fr;
  grid-template-rows: repeat(2, minmax(35px, max-content));
  grid-template-areas:
    "title website"
    "image paragraph";
  column-gap: 40px;
  row-gap: 48px;
}

@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 463fr 481fr;
    grid-template-rows: repeat(2, minmax(35px, max-content));
    column-gap: 28px;
  }
}

@media screen and (max-width: 520px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
    grid-template-areas:
      "title"
      "website"
      "image"
      "paragraph";
    column-gap: 50px;
    row-gap: 32px;

  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
    grid-template-areas:
      "title"
      "website"
      "image"
      "paragraph";
    column-gap: 50px;
    row-gap: 32px;

  }
}