.intro__list {
  list-style-type: none;
  padding-left: 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  max-width: 690px;
  margin-top: 33px;
  margin-bottom: 0px;
}

@media screen and (max-width: 320px) {
  .intro__list {
    margin-top: 34px;
  }
}