.header__logo {
  max-width: 176px;
  padding-top: 28px;
  padding-left: 48px;
}

@media screen and (max-width: 768px) {
  .header__logo {
    padding-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 142px;
    padding-top: 16px;
    padding-left: 16px;
  }
}