.lead__title {
  width: calc(100% - 264px);
  margin: 0 auto;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    width: calc(100% - 208px);
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 695px) {
  .lead__title {
    width: calc(100% - 24px);
    font-size: 65px;
    line-height: 69px;
  }
}

@media screen and (max-width: 450px) {
  .lead__title {
    width: calc(100% - 12px);
    font-size: 50px;
    line-height: 54px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }
}