.footer__copyright {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	text-align: left;
	margin: 0px;
	margin-left: auto;
}

@media screen and (max-width: 320px) {
	.footer__copyright {
		font-size: 14px;
		line-height: 14px;
		margin-top: 48px;
		margin-left: 0px;
	}
}