.intro__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 162.5%;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
  .intro__text {
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .intro__text {
    max-width: 288px;
    line-height: 163%;
  }
}