.place__info {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media screen and (max-width: 1024px) {
  .place__info {
    gap: 27px;
  }
}

@media screen and (max-width: 768px) {
  .place__info {
    gap: 25px;
  }
}