.footer__nav {
	display: flex;
	gap: 18px;
}

@media screen and (max-width: 695px) {
	.footer__nav {
		flex-direction: column;
		gap: 28px;
	}
}

@media screen and (max-width: 320px) {
	.footer__nav {
		gap: 32px;
	}
}