.cover__overlay {
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.cover__overlay:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__overlay {
    min-height: 200px;
  }
}