.lead__caption {
  margin: 6px 0px 0px 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    padding-left: 16px;
  }
}