.cover__title {
  position: relative;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  max-width: 560px;
  margin: 0px;
  margin-bottom: 32px;
}

@media screen and (max-width: 650px) {
  .cover__title {
    width: calc(100% - 120px);
    margin: 0 auto;
    font-size: 42px;
    line-height: 46px;
    margin-bottom: 16px;
  }
}

@media screen and (max-width: 479px) {
  .cover__title {
    width: calc(100% - 32px);
    font-size: 40px;
    line-height: 43px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}